@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100);
body{
	text-align: center;
	background: pink;
}
h1 {
	color: Coral;
	font-family: 'Roboto', cursive;
	font-size: 60px

}
p {
	color: DarkGrey;
	font-family: 'Lato', cursive;
	font-size: 20px

}
ul {
	text-align: center;
	list-style-type: disc;
	color: coral;
	font-style: italic;
	font-size: 20px

}
li {
	text-align: center;
}
hr {
	width: 500px;
	border-color: blue;
}
p1 {
	color: blue;
	font-family: 'Lato', cursive;
}