body{
	text-align: center;
	background: pink;
	font-family: helvetica;
}
h1 {
	color: Coral;
}
p {
	color: DarkGrey;

}
ul {
	text-align: center;
	list-style-type: disc;
	color: coral;
	font-style: italic;
}
li {
	text-align: center;
}
hr {
	width: 500px;
	border-color: blue;
}
p1 {
	color: blue;
}